body {
    background: linear-gradient(135deg, #ddb6a2, #799ed9);
    height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    text-align: center;
    color: white;
    margin-top: 20px;
    font-size: 40px;
}

#score-box {
    text-align: center;
    margin-top: 10px;
    color: white;
    font-size: 20px;
}

#canvas {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    width: 700px;
    height: 300px;
    margin: 30px auto;
    border-radius: 25px;
    padding: 20px;
    gap: 20px;
}

#primary-number,
#secondary-number {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
    width: 125px;
    height: 125px;
    border-radius: 20px;
    color: white;
}

#add,
#equal {
    font-weight: bold;
    font-size: 40px;
}

input {
    border: solid 2px rgb(0, 0, 0);
    width: 160px;
    height: 40px;
    padding-left: 15px;
    border-radius: 10px;
    font-size: 18px;
}

button {
    width: 110px;
    height: 40px;
    background: black;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}

button:hover {
    transform: scale(1.1);
    transition: 0.2s;
    background: #333;
}

#message {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: white;
    margin-top: -20px;
    height: 40px;
}
